name: Prettier CI

on:
    push:
    pull_request:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - run: npm i -g pnpm
            - run: pnpm i
            - run: ls ./{,node_modules/{,.bin/}}
            - run: node_modules/.bin/prettier --check
